body {
    background-color: #2F2E41;

    font-family: 'JetBrains Mono', monospace;
    
    margin: 0;
    text-align: center;
}

.page {
    width: 1100px;
    margin: 71px auto 23px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    
}

main {
    display: flex;
    text-align: center;
    justify-content: space-between;
  
}

ul {
    display: flex;
    list-style: none;
    gap: 64px;
    
    
}

ul a {
    text-decoration: none;
    color: white;

}

h1 {
    color: white;
    font-size: 36px;
    line-height: 40px;

}

span {
    color: #00BFA6;
}

p span {
    color: #00BFA6;
    font-weight: bold;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #C2C2C2;
    font-size: 16px;
    line-height: 28px;

}

p strong {
    color: #C2C2C2;
    font-weight: bold;
}

#linha {
    border: 1px solid #00BFA6;
    width: 568px;
    height: 0px;
    margin-bottom: 30px;  
     
}

footer {
    color: white;
    font-size: 14px;
    line-height: 28px;
    margin-top: 157px;    
}

footer p, a {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;

}

#locker {
    bottom: 0;
    left: 0;
    position: fixed;
}